@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

* {
    margin: 0px;
    font-family: 'Ubuntu Mono', monospace;
}

body {
    background: black;
}

.window {
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    border: 2px solid white;

    width: 500px;
    height: 304px;
}

#canvas-draw {
    position: absolute;
    margin: 10px;
    border: 2px solid white;
    cursor: crosshair;
}

#result-label {
    position: absolute;
    top: 80px;
    right: 73px;
    font-size: 120px;
    color: white;
}

#clear-button {
    position: absolute;
    bottom: 10px;
    right: 50px;
    width: 100px;
    height: 30px;

    font-size: 16px;
    background: black;
    border: 2px solid white;
    color: white;
    cursor: pointer;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 900px;
    margin: auto;
    width: 500px;
    height: 500px;
}

p {
    font-size: 18px;
    color: white;
}

#brush-slider {
    width: 500px;
}


input[type=range] {
    height: 25px;
    -webkit-appearance: none;
    margin: 10px 0;
    background: black;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #FFFFFF;
    background: #FFFFFF;
    border-radius: 1px;
    border: 0px solid #FFFFFF;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #FFFFFF;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
  }